lab1/flows.json
[{"id":"250e105e.cb45f","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"50a8a157.a8dab","type":"http in","z":"250e105e.cb45f","name":"","url":"/talk","method":"get","upload":false,"swaggerDoc":"","x":320,"y":460,"wires":[["2d9c329e.029bae"]]},{"id":"8ff79fec.cf906","type":"template","z":"250e105e.cb45f","name":"Generate Reply","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>You want to say</h1>\n        <p><q>{{payload.text_to_say}}</q></p>\n        <form action=\"{{req._parsedUrl.pathname}}\">\n            <input type=\"text\" name=\"text_to_say\" id=\"\" value=\"{{payload.text_to_say}}\" />\n            <input type=\"submit\" value=\"Try Again\" />\n        </form>\n    </body>\n</html>    ","output":"str","x":721.5,"y":422,"wires":[["fd7af3f4.eebf18"]]},{"id":"b4a91508.42e758","type":"template","z":"250e105e.cb45f","name":"GetTextToSay","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>Enter text to Say</h1>\n        <form action=\"{{req._parsedUrl.pathname}}\" method=\"get\">\n            <input type=\"text\" name=\"text_to_say\" id=\"\" value=\"{{payload.text_to_say}}\" />\n            <input type=\"submit\" value=\"Say it!\"/>\n        </form>\n    </body>\n</html>","output":"str","x":722.5,"y":493,"wires":[["fd7af3f4.eebf18"]]},{"id":"2d9c329e.029bae","type":"switch","z":"250e105e.cb45f","name":"Check Text","property":"payload.text_to_say","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":507.5,"y":460,"wires":[["8ff79fec.cf906"],["b4a91508.42e758"]]},{"id":"fd7af3f4.eebf18","type":"http response","z":"250e105e.cb45f","name":"","statusCode":"","headers":{},"x":925,"y":455,"wires":[]}]
