lab2/flows.json
[{"id":"7a1f9d6e.32ac6c","type":"http in","z":"92383e50.af0f68","name":"","url":"/talk","method":"get","upload":false,"swaggerDoc":"","x":440,"y":620,"wires":[["e15c6126.0d139"]]},{"id":"fdc436c3.46c12","type":"template","z":"92383e50.af0f68","name":"Generate Reply","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>You want to say</h1>\n        <p><q>{{payload.text_to_say}}</q></p>\n        <p>Hear it:</p>\n        <audio controls autoplay>\n            <source src=\"{{req._parsedUrl.pathname}}/sayit?text_to_say={{payload.text_to_say}}\" type=\"audio/wav\">\n            Your browser does not support the audio element.\n        </audio>\n        <form action=\"{{req._parsedUrl.pathname}}\">\n            <input type=\"text\" name=\"text_to_say\" id=\"\" value=\"{{payload.text_to_say}}\" />\n            <input type=\"submit\" value=\"Try Again\" />\n        </form>\n    </body>\n</html>    ","output":"str","x":841.5,"y":582,"wires":[["ae956e01.b6a5f8"]]},{"id":"bc6a8ceb.861f08","type":"template","z":"92383e50.af0f68","name":"GetTextToSay","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>Enter text to Say</h1>\n        <form action=\"{{req._parsedUrl.pathname}}\" method=\"get\">\n            <input type=\"text\" name=\"text_to_say\" id=\"\" value=\"{{payload.text_to_say}}\" />\n            <input type=\"submit\" value=\"Say it!\"/>\n        </form>\n    </body>\n</html>","output":"str","x":842.5,"y":653,"wires":[["ae956e01.b6a5f8"]]},{"id":"e15c6126.0d139","type":"switch","z":"92383e50.af0f68","name":"Check Text","property":"payload.text_to_say","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":627.5,"y":620,"wires":[["fdc436c3.46c12"],["bc6a8ceb.861f08"]]},{"id":"ae956e01.b6a5f8","type":"http response","z":"92383e50.af0f68","name":"","statusCode":"","headers":{},"x":1045,"y":615,"wires":[]},{"id":"7a239109.8d1b","type":"http in","z":"92383e50.af0f68","name":"","url":"/talk/sayit","method":"get","upload":false,"swaggerDoc":"","x":260,"y":320,"wires":[["cb9698a0.e3357","8a1e2080.135188"]]},{"id":"cb9698a0.e3357","type":"change","z":"92383e50.af0f68","name":"Text to Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.text_to_say","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":320,"wires":[["cdf5ca3d.fcead8"]]},{"id":"cdf5ca3d.fcead8","type":"watson-text-to-speech","z":"92383e50.af0f68","name":"","lang":"zh-CN","langhidden":"zh-CN","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"zh-CN_LiNaVoice","voicehidden":"en-US_OliviaV3Voice","format":"audio/wav","password":"","apikey":"A7j8NlM1QEKNOHgqVoIcFzoSvN0-5NUluh16U2kh8q78","payload-response":false,"service-endpoint":"https://api.au-syd.text-to-speech.watson.cloud.ibm.com/instances/f64fc9b5-9c8e-4b3b-bf86-70cb4018bdf1","x":760,"y":220,"wires":[["5252686f.246298"]]},{"id":"5252686f.246298","type":"change","z":"92383e50.af0f68","name":"Speech to Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"speech","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":280,"wires":[["a700cdcf.247038"]]},{"id":"a700cdcf.247038","type":"function","z":"92383e50.af0f68","name":"Set Headers","func":"// Set the content type to audio wave\nmsg.headers = {'Content-Type': 'audio/wav'};\nreturn msg;","outputs":1,"noerr":0,"x":1017,"y":395,"wires":[["b70b015.ba997"]]},{"id":"b70b015.ba997","type":"http response","z":"92383e50.af0f68","name":"","statusCode":"","headers":{},"x":1204,"y":394,"wires":[]},{"id":"8a64fb40.ffc3a","type":"template","z":"92383e50.af0f68","name":"Error","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Missing text_to_say query param!</h1>","output":"str","x":997,"y":519,"wires":[["b70b015.ba997"]]},{"id":"8a1e2080.135188","type":"function","z":"92383e50.af0f68","name":"Determine whether text_to_say is null","func":"if (msg.payload.text_to_say) {\n    return [msg, null];\n}\nreturn [null, msg];","outputs":2,"noerr":0,"x":629,"y":514,"wires":[["cb9698a0.e3357"],["8a64fb40.ffc3a"]]}]